body {
  background-color: antiquewhite;
}

#window1{
  width: 300px;
  height: 200px;
  background: #ccc;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  position: absolute;
  z-index: 0;
  border: 1px solid black;
  text-align: left;
}

#window2{
  width: 300px;
  height: 200px;
  background: #ccc;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  position: absolute;
  z-index: 0;
  border: 1px solid black;
  text-align: left;
}

#window3{
  width: 600px;
  height: 200px;
  background: #ccc;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  position: absolute;
  z-index: 0;
  border: 1px solid black;
  text-align: left;
}

.dragger {
  /*padding-top: 10px;*/
  height: 20px;
  border-top-left-radius: 0.2vw;
  border-top-right-radius: 0.2vw;
  padding-left: 5px;
  background: #495bac ;
  color: white;
}

#window1:hover {
  z-index: 1;
}

#window2:hover {
  z-index: 1;
}

#window3:hover {
  z-index: 1;
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2px;
  padding-left: 2px;
  position: absolute;
  height: 13px;
  top: 3px;
  right: 2px;
  border-radius: 25%;
  background-color: red;
  text-align: center;
}

